.container-button {
    height: 83px;
    display:flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-weight: bold;
    background-color: #548;
    color: #fff;
    border: 2px solid #bbb;
    border-radius: 25px;
    margin:4px;
    cursor: pointer;
    user-select: none;
}

.container-button:hover{
    background-color: #25a;
}

.operator{
    background-color: #90f;
}
.operator:hover{
    background-color: #095;
}
